@import "https://fonts.googleapis.com/css?family=Open+Sans";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.75em;
  font-size: 16px;
  background-color: #222;
  color: #aaa;
  min-height: 100vh;
}

button {
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid #95deee;
  border-radius: 4px;
  background-color: transparent;
  color: #95deee;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5em;
  cursor: pointer;
  transition: background-color 200ms, color 200ms;
}

.main {
  max-width: 768px;
  margin: 0 auto;
  padding: 20px 10px;
}

.simple-container {
  max-width: 675px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 20px;
}

.inline-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.simple-print {
  fill: white;
  stroke: white;
}
.simple-print svg {
  height: 100%;
}

.simple-close {
  color: white;
  border-color: white;
}

.simple-ext-info {
  border-top: 1px solid #aaa;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 30px;
  line-height: 34px;
}

h2 {
  font-size: 20px;
  line-height: 25px;
}

h3 {
  font-size: 16px;
  line-height: 27px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
}

hr {
  height: 1px;
  background-color: #d8d8d8;
  border: none;
  width: 100%;
  margin: 0px;
}

a[href] {
  color: #1e8ad6;
  text-decoration: none;
}

a[href]:hover {
  color: #3ba0e6;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  line-height: 1.5em;
}

pre {
  overflow-x: scroll;
  padding: 10px;
  line-height: 1.6em;
}

@media (max-width: 768px) {
  pre {
    line-height: 1.2em;
    font-size: 14px;
  }
}

pre > code {
  display: grid;
}

.highlighted {
  background-color: rgba(200, 200, 255, 0.1);
  border-left-color: #60a5fa;
  border-left-width: 3px;
  border-left-style: solid;
}

code {
  counter-reset: line;
}

code > .line::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > .line::before {
  width: 2rem;
}

code[data-line-numbers-max-digits="3"] > .line::before {
  width: 3rem;
}

aside,
[class*="sidebar"],
[id*="sidebar"] {
  max-width: 90%;
  margin: 0 auto;
  border: 1px solid lightgrey;
  padding: 5px 15px;
}

@media (min-width: 1921px) {
  body {
    font-size: 18px;
  }
}
